 body{
		background-image: url(https://newevolutiondesigns.com/images/freebies/city-wallpaper-18.jpg);
		background-size: cover;	
		margin: 30px;
}

article{
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	background-color:rgba(192,192,192,0.8);
	padding-bottom:10px;
	padding-top:5px;
	padding-left:15px;
	padding-right:15px;
	margin:25px;
}

section{
	margin-bottom:5em;
}

section div{
	width:80%;
	height:100%;
	display:inline-block;
	margin-left:5px;
}

h2 , p{
	font-family: "Verdana", Geneva, sans-serif;
}

p{
	float:right;
	width:30%;
	left:60%;
	margin-top: -390px;
	position:absolute;
	border:1px solid white;
	border-radius:3px;
	background-color:white;
	opacity:0.9;
	padding:15px;
	font-family:"Verdana";
}

#myChart{
	width: 40%;
	margin-top:50px;
}

#bar-chart p{
	margin-top: -300px;
}

.hideme{
	display: none;
}

#pieChart{
	width:50%;
	margin-top:0px;
}

svg{
	width: 670px;
	padding:15px;
}