body{
	margin-top:50px;
	margin-left:10px;
	background-image: url(https://newevolutiondesigns.com/images/freebies/city-wallpaper-18.jpg);
	background: cover;
}
	
tr{
	text-align:center;	
}
	
th{
	font-weight: bold;
	font-size:20px;
}
	
td{
	font-size:16px;
}

@media(max-width:360px){
	th{
		font-size:12px;
	}
	td{
		font-size:10px;
	}
	thead{
		margin:5px;
	}
	tbody{
		margin:5px;
	}
}